
rules_version = '2';

service firebase.storage {
  match /b/{bucket}/o {
    
    // Allow public read access for all files.
    allow read;

    // Use a recursive wildcard {allPaths=**} to match nested paths like /banners/{userId}/EVENT_ID/file.jpg
    match /banners/{userId}/{allPaths=**} {
      allow write: if request.auth != null && request.auth.uid == userId;
    }

    match /avatars/{userId}/{allPaths=**} {
      allow write: if request.auth != null && request.auth.uid == userId;
    }
    
    match /ticket-assets/{userId}/{allPaths=**} {
      allow write: if request.auth != null && request.auth.uid == userId;
    }
  }
}
