
rules_version = '2';

service firebase.storage {
  match /b/{bucket}/o {
    
    // Public assets are readable by anyone.
    match /public/{allPaths=**} {
      allow read;
    }

    // Banners can be written by the user who owns the folder.
    // Anyone can read them after they are uploaded.
    match /banners/{userId}/{allPaths=**} {
      allow read;
      allow write: if request.auth != null && request.auth.uid == userId;
    }

    // Avatars follow the same pattern.
    match /avatars/{userId}/{allPaths=**} {
      allow read;
      allow write: if request.auth != null && request.auth.uid == userId;
    }

    // Ticket assets follow the same pattern.
    match /ticket-assets/{userId}/{allPaths=**} {
      allow read;
      allow write: if request.auth != null && request.auth.uid == userId;
    }
  }
}
